.card-port {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    
}
.port-container h1{
    text-align: center;
    margin-bottom: 50px ;
}

.port-container{
    padding-bottom: 100px;
    background-color: black;
    color:white;
}

.card-port a {
    text-decoration: none;

}

.card-port{
    transition: 0.3s;
}

.card-port:hover {
    box-shadow: 0 10px 50px 0 #9BABB8;
}


.content {
    padding: 1.1rem;
}


.image img{
    border-radius: 10px 10px 0 0 ;
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
    
}

.action span {
    transition: .3s ease;
    
}

.action:hover span {
    transform: translateX(4px);
}


.all-card {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.action-github {
    display: inline-flex;
    margin-top: 1rem;
    margin-right: 10px;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: black;
    padding: 4px 8px;
    border-radius: 4px;
    
}




@media screen and (max-width: 480px) {
    .port-container{
        height: auto;
        position: relative;
        margin: 100px 0;
    }
    .all-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .card-port{
        margin-top: 20px;
    }
}